In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

cols = ['loan_amnt', 'int_rate', 'installment']
data = pd.read_csv('accepted_2007_to_2018Q4.csv', nrows = 30000, usecols=cols)

In [2]:
data.isna().any()

loan_amnt      False
int_rate       False
installment    False
dtype: bool

In [11]:
#describe performs descriptive statistics like count, mean, std, min, max and percentage between
data.describe()

          loan_amnt      int_rate   installment
count  30000.000000  30000.000000  30000.000000
mean   15000.651667     12.242581    434.344285
std     8709.706176      4.209334    248.655252
min     1000.000000      5.320000     30.540000
25%     8000.000000      9.170000    255.030000
50%    13950.000000     11.990000    378.150000
75%    20000.000000     14.480000    574.727500
max    35000.000000     28.990000   1354.660000

In [5]:
#standardscaler removes the mean and scales from the data to unit varience
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

In [12]:
#check the mean and std values
data_scaled.mean(axis=0)

array([ 1.23160741e-17,  3.27323354e-16, -5.11590770e-17])

In [13]:
data_scaled.std(axis=0)

array([1., 1., 1.])

In [14]:
print('Min values (Loan Amnt, Int rate, Installment): ', data_scaled.min(axis=0))
print('Max values (Loan Amnt, Int rate, Installment): ', data_scaled.max(axis=0))

Min values (Loan Amnt, Int rate, Installment):  [-1.60750371 -1.64460636 -1.62397944]
Max values (Loan Amnt, Int rate, Installment):  [2.29625217 3.97870534 3.70123312]

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)

In [16]:
print('means (Loan Amnt, Int rate, Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amnt, Int rate, Installment): ', data_scaled.std(axis=0))

means (Loan Amnt, Int rate, Installment):  [0.41178387 0.29246224 0.30496049]
std (Loan Amnt, Int rate, Installment):  [0.25616356 0.17783115 0.18778593]

In [ ]:
'''After MinMaxScaling the distributions are not centered at zero and the std is not 1
but the min and max are standardized across variables different from what occurs w/ standardization'''

In [17]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
data_scaled = scaler.fit_transform(data)

In [18]:
print('means (Loan Amnt, Int rate, Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amnt, Int rate, Installment): ', data_scaled.std(axis=0))

means (Loan Amnt, Int rate, Installment):  [0.08755431 0.04756711 0.1757733 ]
std (Loan Amnt, Int rate, Installment):  [0.72579675 0.79270497 0.77776995]

In [19]:
print('Min values (Loan Amnt, Int rate, Installment): ', data_scaled.min(axis=0))
print('Max values (Loan Amnt, Int rate, Installment): ', data_scaled.max(axis=0))

Min values (Loan Amnt, Int rate, Installment):  [-1.07916667 -1.25612053 -1.0873091 ]
Max values (Loan Amnt, Int rate, Installment):  [1.75416667 3.20150659 3.05448119]